/* Main Container */
.homecontainer {
  height: 90vh;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 10vh;
  gap: 10px;

}

/* Right Box - Hero Section */
.right-box {
  height: 90vh;
  flex: 2;
  position: relative;
}

.right-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 1;
}

.text h1 {
  font-size: 5rem;
  margin: 0;
}

.text p {
  font-size: 2rem;
  margin: 10px 0 0;
  color: white;
}

/* Left Box - Image Grid */
.left-box {
  height: 90vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.top{
  width: 600px;
}

.bottom {
  display: flex;
  height: 50vh;
  gap: 10px;
}

.bottom-left-box,
.bottom-right-box {
  width: 50%;
  overflow: hidden;
}

.bottom-left-box img,
.bottom-right-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.ant-carousel .slick-slide img {
  width: 100%;
  height: 300px;
  object-fit: cover; 
}


/* Responsive Adjustments */
@media (max-width: 1024px) {

  .text h1 {
    font-size: 4rem;
  }

  .text p {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {

 
  
  .text h1 {
    font-size: 3rem;
  }

  .text p {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .homecontainer {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .right-box,
  .left-box {
    width: 100%;
  }

  .text h1 {
    font-size: 2.5rem;
  }

  .text p {
    font-size: 1rem;
  }

  .bottom {
    height: auto;
  }

  .bottom-left-box,
  .bottom-right-box {
    width: 50%;
    height: auto;
  }


  .top{
    width: auto;
  }
  .ant-carousel .slick-slide img {
    width: 100%;
    height: 300px;
   object-fit: cover;
  }
}
