/* General styling for the page */
.page-title {
  text-align: center;
  font-size: 2.5rem;
  margin: 250px 0 50px 0;
  font-weight: bold;
  color: #333;
}

.product-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.product-card {
  height: 400px;
  margin-bottom: 50px;
  width: 250px;
  padding: 5px;
}

.image-container {
  height: 250px;
  width: 250px;
  overflow: hidden;
  text-align: center;
  border-radius: 20px;
}

.product-image {
  width: 250px;
  border-radius: 20px;
}

.product-info h2,
p {
  text-align: start;
  padding: 5px;
  height: 30px;
  font-weight: 500;
}

.product-info p {
  height: 20px;
}

.view-more {
  background-color: black;
  color: #fff; /* Text color */
  border: none;
  padding: 10px 10px; /* Padding for the button */
  border-radius: 20px; /* Rounded corners */
  font-size: 16px; /* Font size */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 10px;
}

.view-more:hover {
  background-color: #495057;
  color: white;
  transform: translateY(-3px); /* Slight lift on hover */
}

.view-more:active {
  transform: translateY(0); /* Reset lift */
}

@media screen and (max-width: 480px) {

  .product-container {
    gap: 0px;
  }
  
  .product-card {
    height: 300px;
    margin-bottom: 30px;
    width: 150px;
    padding: 5px;
  }

  .image-container {
    height: 150px;
    width: 150px;
    overflow: hidden;
    text-align: center;
    border-radius: 20px;
  }

  .product-image {
    width: 150px;
    border-radius: 20px;
  }

  .product-info h2,
  p {
    text-align: start;
    padding: 5px;
    font-size: 0.8rem;
    height: 30px;
  }

  .view-more {
    background-color: black;
    color: #fff; /* Text color */
    border: none;
    padding: 5px 5px; /* Padding for the button */
    border-radius: 20px; /* Rounded corners */
    font-size: 10px; /* Font size */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 5px;
  }
}
